.form_control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;

  }
  
.form_control input {
    width: 30px;
    padding: 0.7em;
    border-radius: 0;
    border: none;
    font-size: 11px;
    border-bottom: 1rem;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

input:nth-child(even){
    background-color: #bebebe;
}