.table{
    width: 150%;
    max-width: 700px;
    margin-block: 0,5rem;
    margin-inline: initial;
    border-collapse: collapse;
    
}

.table tr {
    height: 15px;
    border-bottom: 1px solid #cacaca;
    font-size: 11px;
    
}

.table tr:nth-child(even){
    background-color: #c7c7c7;
}

.table td{
    text-align: center;
}

.table tr tbody td.green{
    background-color: #00ff0d;
    color: #00db0b;
}


.table th {
    background-color: #f2f2f2;
    height: 40px;
    border-bottom: 1px solid;
    position: sticky;
    top: 0;
}
/*
.table.input_sets td input {
    width: 20px;
    display: block;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.sets {
    padding: 10px;
}
*/
